<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License

Name       : ColoreGiallo 
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20121026

-->
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    {% load static %}

    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>O.Life - Add Movie</title>
    <link href='http://fonts.googleapis.com/css?family=Oswald:400,300' rel='stylesheet' type='text/css' />
    <link href='http://fonts.googleapis.com/css?family=Abel|Satisfy' rel='stylesheet' type='text/css' />
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="screen" />
</head>

<body>
    <div id="wrapper">
        <div id="header-wrapper">
            <div id="header" class="container">
                <div id="logo">
                    <h1><a href="{% url 'homepage' %}">O.Life</a></h1>
                    <a>Team Pokkamon</a>
                </div>
                <div id="menu">
                    <ul>
                        <li><a href="{% url 'homepage' %}">Homepage</a></li>
                        <li><a href="{% url 'events' %}">Discover Events</a></li>
                        <li><a href="{% url 'movies' %}">Discover Movies</a></li>
                    </ul>
                </div>
            </div>
            <div id="banner">
                <div class="content"><img src="{% static 'images/events.png' %}" width="1000" height="400" alt="" /></div>
            </div>
        </div>
        <!-- end #header -->

        <div id="page">
            <div id="content">
                <div class="post">
                    <h2 class="title"><a href="#">Add a Movie </a></h2>
                    <div class="entry">
                        <form method="post">
                            {% csrf_token %} {% for field in form %}
                            <div class="fieldWrapper">
                                {{ field.errors }} {{ field.label_tag }} <br/> {{ field }}
                            </div>
                            {% endfor %}
                            <br/>
                            <a href="javascript:history.back()"><button class="button" type="submit">Add</button></a>
                        </form>
                    </div>
                </div>
                <div class="post">
                    <h4>Please be patient and wait for the new movie to register. The engine is slow due to many API calls. You may need to wait several minutes.</h4>
                </div>
            </div>
            <!-- end #content -->
            <div id="sidebar">
                <ul>
                    <li>
                        <h2>What happens to the movie added?</h2>
                        <ul>
                            <li>Semantic analysis will be performed on the description.</li>
                            <li>Text analsys will be performed on the description.</li>
                            <li>Root word analysis will be performed on the description.</li>
                            <li>Movie will be compared to bookmarked movies.</li>
                            <li>Movie will be given a similarity index to each bookmarked movie.</li>
                            <li>The highest similarity index will be the final similarity index.</li>
                            <li>Movies appear in the horizontal scrolling pane in descending order of similarity index.</li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- end #sidebar -->
            <div style="clear: both;">&nbsp;</div>
        </div>
        <div id="footer-content-wrapper">
            <div id="footer-content">
                <div id="fbox1">
                    <h2>Team Members</h2>
                    <ul class="style1">
                        <li class="first"><a href="https://github.com/arjavibahety/">Bahety Arjavi</a></li>
                        <li><a href="https://github.com/heze8/">Caleb Goh</a></li>
                        <li><a href="https://github.com/dalisc/">Chan Dalis</a></li>
                        <li><a href="https://github.com/johannagwan/">Johanna</a></li>
                        <li><a href="https://github.com/longluqian/">Long Luqian</a></li>
                    </ul>
                </div>
                <div id="fbox2">
                    <h2>Tech Stack</h2>
                    <ul class="style1">
                        <li class="first"><a href="https://www.djangoproject.com/">Django</a></li>
                        <li><a href="https://pandas.pydata.org/">Pandas</a></li>
                        <li><a href="https://scikit-learn.org/stable/">SciKitLearn</a></li>
                        <li><a href="https://www.postgresql.org/">PostgreSQL</a></li>
                        <li><a href="https://english.api.rakuten.net/">Rakuten API</a></li>
                    </ul>
                </div>
                <div id="fbox3">
                    <h2>APIs</h2>
                    <ul class="style1">
                        <li class="first"><a href="https://rapidapi.com/twinword/api/text-similarity">Text similarity</a></li>
                        <li><a href="https://english.api.rakuten.net/twinword/api/lemmatizer">Lemmatizer</a></li>
                        <li><a href="https://english.api.rakuten.net/twinword/api/word-associations">Word associations</a></li>
                        <li><a href="https://english.api.rakuten.net/twinword/api/sentiment-analysis">Semantic</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div id="footer">
            <p>&copy; Untitled. All rights reserved. Images by <a href="http://fotogrph.com/">Fotogrph</a>. Design by <a href="http://templated.co" rel="nofollow">TEMPLATED</a>.</p>
        </div>
        <!-- end #footer -->
</body>

</html>