<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License

Name       : ColoreGiallo 
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20121026

-->
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    {% load static %}

    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>O.Life - Home</title>
    <link href='http://fonts.googleapis.com/css?family=Oswald:400,300' rel='stylesheet' type='text/css' />
    <link href='http://fonts.googleapis.com/css?family=Abel|Satisfy' rel='stylesheet' type='text/css' />
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="screen" />
</head>

<body>
    <div id="wrapper">
        <div id="header-wrapper">
            <div id="header" class="container">
                <div id="logo">
                    <h1><a href="{% url 'homepage' %}">O.Life</a></h1>
                    <a>Team Pokkamon</a>
                </div>
                <div id="menu">
                    <ul>
                        <li class="current_page_item"><a href="{% url 'homepage' %}">Homepage</a></li>
                        <li><a href="{% url 'profiling' %}">Profiling</a></li>
                        <li><a href="{% url 'events' %}">Discover Events</a></li>
                        <li><a href="{% url 'movies' %}">Discover Movies</a></li>
                    </ul>
                </div>
            </div>
            <div id="banner">
                <div class="content"><img src="{% static 'images/homebanner.png' %}" width="1000" height="400" alt="" /></div>
            </div>
        </div>
        <!-- end #header -->
        <div id="page">
            <div id="content">
                <div class="post">
                    <h2 class="title"><a href="#">How the Recommender Works</a></h2>
                    <div class="entry">
                        <p>This recommender engine uses collaborative filtering to profile similar users into clusters. Users in a cluster receive the same recommendations. Recommendations are in the form of which content appears first on a horizontal scrolling
                            pane. We use text analysis to determine which events/movies should appear first to the user.
                        </p>
                        <p>Please view our slide deck for more details <a href="http://tiny.cc/olife">here</a>.</p>
                    </div>
                </div>
            </div>
            <!-- end #content -->
            <div id="sidebar">
                <ul>
                    <li>
                        <h2>TRY IT OUT</h2>
                        <ul>
                            <li>Click on Discover Events.</li>
                            <li>Explore current events.</li>
                            <li>Add a new event.</li>
                            <li>See how it ranks with existing events.</li>
                            <li>Do the same for Discover Movies</li>
                        </ul>
                        <h4>Please be patient and wait for the new event/movie to register. The engine is slow due to many API calls.</h4>
                        <h4>You may need to wait several minutes.</h4>
                    </li>
                </ul>
            </div>
            <!-- end #sidebar -->
            <div style="clear: both;">&nbsp;</div>
        </div>
        <!-- end #page -->
    </div>
    <div id="footer-content-wrapper">
        <div id="footer-content">
            <div id="fbox1">
                <h2>Team Members</h2>
                <ul class="style1">
                    <li class="first"><a href="https://github.com/arjavibahety/">Bahety Arjavi</a></li>
                    <li><a href="https://github.com/heze8/">Caleb Goh</a></li>
                    <li><a href="https://github.com/dalisc/">Chan Dalis</a></li>
                    <li><a href="https://github.com/johannagwan/">Johanna</a></li>
                    <li><a href="https://github.com/longluqian/">Long Luqian</a></li>
                </ul>
            </div>
            <div id="fbox2">
                <h2>Tech Stack</h2>
                <ul class="style1">
                    <li class="first"><a href="https://www.djangoproject.com/">Django</a></li>
                    <li><a href="https://pandas.pydata.org/">Pandas</a></li>
                    <li><a href="https://scikit-learn.org/stable/">SciKitLearn</a></li>
                    <li><a href="https://www.postgresql.org/">PostgreSQL</a></li>
                    <li><a href="https://english.api.rakuten.net/">Rakuten API</a></li>
                </ul>
            </div>
            <div id="fbox3">
                <h2>APIs</h2>
                <ul class="style1">
                    <li class="first"><a href="https://rapidapi.com/twinword/api/text-similarity">Text similarity</a></li>
                    <li><a href="https://english.api.rakuten.net/twinword/api/lemmatizer">Lemmatizer</a></li>
                    <li><a href="https://english.api.rakuten.net/twinword/api/word-associations">Word associations</a></li>
                    <li><a href="https://english.api.rakuten.net/twinword/api/sentiment-analysis">Semantic</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div id="footer">
        <p>&copy; Untitled. All rights reserved. Images by <a href="http://fotogrph.com/">Fotogrph</a>. Design by <a href="http://templated.co" rel="nofollow">TEMPLATED</a>.</p>
    </div>
    <!-- end #footer -->
</body>

</html>